html,body {
	margin: 0;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
}

#left {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #131418;
	color: white;
}

#name {
	margin-top: 3%;
	margin-left: 10%;
	justify-content: center;
	font-size: 20px;
}
#dot {
	color: #ef473a;
	font-size: 40px;
}

#title {
	color: #FAFAFA;
	text-shadow: 1px 1px 2px #ef473a, 0 0 25px #ef473a, 0 0 5px #cb2d3e;
	line-height: 1;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
}

#content {
	margin-left: 10%;
	color: #EEEEEE;
	line-height: 1.6;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 35%;
	margin-right: 16%;
}

#social-icons {
	position: absolute;
	margin-left: 4%;
	margin-top: 10%;
}

ul {
	list-style: none;
	
	display: flex;
	justify-content: center;
	margin-top: 30%;
}

#projects-link {
	color: white;
	cursor: pointer;
}
#projects-link:hover{
	color: #ef473a;
}

li {
	padding: 20px;
	font-size: 25px;
}

a {
	text-decoration:none;
}

.fa {
	color: #ef473a;
}
.fa:hover {
	color: white;
}

#stay-in-touch {
	font-size: 18px;
	font-family: sans-serif;
	color: #EEEEEE;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#right {
	position: relative;/* Add position: relative to enable absolutely positioned elements inside the image (timer) */
	left: 50%;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, #cb2d3e, #ef473a);
}

#countdown {
	position: absolute; /* child of #right parent which is relative */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50%;

}

.circle {
	background-color: white;
	color: #ef473a;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin-left: 40px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.4);
}

#one{
	margin-left: 180px;
}

.fix-text {
	font-size: 20px;
	font-weight: normal;
}

.center-align-time {
	margin-top: 25px;
}